<header class="header">
    <a href="/admin" class="header_logo">Admin Dashboard</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>
 
    <div class="header_button">
        <button >
            Logout
    
        </button>
       
    </div>
    <!-- <div class="header_color_mode">
        <input class="color_mode_input" type="checkbox" id="darkmode-toggle"/>
        <label class="color_mode_label" for="darkmode-toggle">
    </div> -->
</header>