<div class="author">
  <h1 class="author_heading">About</h1>
  <p class="about_body">
    Welcome to my blog portfolio! I'm William Nguyen, a passionate web developer
    specializing in full-stack development with a focus on Node.js, Express.js,
    MongoDB, and JavaScript. I enjoy exploring new technologies,
    solving complex problems, and sharing my knowledge with the developer
    community. <br>
    In this blog, you'll find a variety of posts ranging from
    beginner tutorials to advanced concepts, all aimed at helping you become a
    better developer. Whether you're just starting out or looking to deepen your
    understanding of web development, there's something here for everyone. Join
    me on this journey as we dive into the world of web development and build
    amazing things together. Happy coding!
  </p>
</div>
