<div class="author">
    <h1 class="author_heading">Hi, I am William!</h1>
    <p class="author_body">Web Developer & Cyber Security Student</p>
</div>

<img src="/img/hero-image.png" alt="author profile picture" class="hero-image" width="400" >

<section class="articles">
    <h2 class="articles_heading">Latest Post</h2>
    <ul class="article_ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article_list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>