<div class="author">
    <h1 class="author_heading">Search Results</h1>
</div>

<section class="articles">
        <% if (data!==null) { %>
            <% data.forEach(record => { %>
                <ul class="article_ul">

                    <li>
                        <a href="/post/<%= record._id %>">
                            <span><%= record.title %></span>
                            <span class="article_list_date"><%= record.createdAt.toDateString() %></span>
                        </a>
                    </li>
                </ul>

             
            <% }) %>
         
        <% } %>
        <% if(data.length==0){ %>
            <p>No Matching Result...</p>
        <% } %>
            

            

         
       
      
        
</section>